* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libertinus Sans", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2a363b;
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

p {
    margin-bottom: 20px;
    font-size: 1.4em;
}

button {
    padding: 10px;
    font-size: 1.5em;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;
    /* Use perspective for a 3D effect on child elements */
    perspective: 1000px;
}

.card {
    width: 150px;
    height: 100px;

    margin: 10px;
    position: relative;
    /* This preserves the 3D space for the flip animation */
    transform-style: preserve-3d;
    /* Sets the speed of the flip animation */
    transition: transform 0.6s;
}

/* This class will be added with JavaScript to trigger the flip */
.card.flip {
    transform: rotateY(180deg);
    /*is responsible for the action. It tells the entire .card container (the whole coin) to flip over 180 degrees. so we can see the back side which is hidden*/
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    display: flex;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Hides the back of the card when it's not facing the viewer */
    backface-visibility: hidden;
    /*any thing at 180deg initially will be hidden due to this and initially back face is at 180deg so when flip is added front become 180 making it disapper and back become 360deg and become visible i.e. making it 0deg*/
    box-shadow: 3px 5px 10px rgb(231, 234, 204),
        -4px -5px 10px rgb(215, 216, 194);
}

.card-front {
    background-color: #e37985;
    /*transform :rotate(0deg) so we see the front*/
}

.card-face:hover {
    background-color: rgb(212, 77, 77);
}

.card-back {
    background-color: #dabebb;
    /* Lighter color for the face of the card */
    /* Initially rotate the back face so it's hidden */
    transform: rotateY(180deg);
    /*more on gemini pro*/
    /*is responsible for setting the initial state. It ensures that at the beginning of the game, the back of the card is already flipped around and hidden.*/
}

.btn {
    border-radius: 10px;
    background-color: #729f48;
    color: #fff;
    box-shadow: 2px 2px 5px rgb(166, 176, 119);
    transition: background-color 0.6s ease;
}

.btn:hover {
    background-color: #50861d;
    box-shadow: -2px 4px 5px rgb(183, 194, 136);


}